body{
  background-color:#67392F;
}
.parent{
  background-color: #E83F1A;
  display:flex;
  flex-wrap: wrap;
  margin: 4%;
  padding: 1%;
  text-align: center;

}
.child{
  width: 70%;
  background-color: #0D747F;
  padding:2%;
  text-align:center;
  margin:4%;
  justify-content: center;
  box-shadow: 5px 5px 5px black;
  border-radius: 2;
}
  img{
    width:50%;
    height: 50%;
  }
@media only screen and (min-width:320px) and (max-width:480px){
 body{
 }
   .parent{
     background-color: #E83F1A;
     display:flex;
     flex-direction: column;
     margin: 4%;
     padding: 1%;
     text-align: center;

   }
   .child{
     width: 70%;
     background-color: #0D747F;
     padding:2%;
     text-align:center;
     margin:4%;
     justify-content: center;
     box-shadow: 5px 5px 5px black;
     border-radius: 2;
   }
     img{
       width:50%;
       height: 50%;
     }

@media only screen and (min-width:481px) and (max-width:1024px){
  body{
  }
    .parent{
      background-color: #E83F1A;
      display:flex;
      flex-wrap: wrap;
      margin: 4%;
      padding: 1%;
      text-align: center;

    }
    .child{
      width: 70%;
      background-color: #0D747F;
      padding:2%;
      text-align:center;
      margin:4%;
      justify-content: center;
      box-shadow: 5px 5px 5px black;
      border-radius: 2;
    }
      img{
        width:50%;
        height: 50%;
        border-radius: 5%;
      }
}
